

  .midContainer {
    display: flex;
    height: 50px;
    flex-direction: row;
    border: 1px solid black;
    color: rebeccapurple; 

  }

  .miniContainer 
{
    border: 1px solid black;
    color: rebeccapurple; 
    flex:1
}

.hovered 
{
    background-color:   blue;
}

.unhovered 
{background-color: white;}